:root {
  --primary-color: light-dark(  #990000, #c91633);
  --secondary-color: light-dark(#5c0606,#990000);
  --text-color: light-dark(#100a0a, #f5efef);
  --accent: light-dark(#ffae00, #ffae00);
  --background-color: light-dark( #f4f9fb, #17121a);
  --hover-bg: light-dark(#9900003b, #9900003b);

}


#root {
  color-scheme: dark;
  background-color: var(--background-color);
}

.layout-container {
  display: flex;
  min-height: 100vh;
  background-color: var(--background-color);
}

.main-content {
  flex: 1;
  transition: margin-left var(--transition);
}

.test{
  background-color: blue;
  overflow: auto;
  /* width: 60%; */
  /* height: 20vh; */
}
@media (max-width: 1024px) {
  .main-content.sidebar-open { margin-left: 180px; }
  .main-content.sidebar-closed { margin-left: 50px; }
}

@media (max-width: 768px) {
  .main-content.sidebar-open { margin-left: 160px; }
  .main-content.sidebar-closed { margin-left: 48px; }
}
@media (max-height: 700px) {
  .main-content.sidebar-open { margin-left: 185px; }
  .main-content.sidebar-closed { margin-left: 48px; }
}

@media (max-height: 550px) {
  .main-content.sidebar-open { margin-left: 170px; }
  .main-content.sidebar-closed { margin-left: 40px; }
}

@media (max-height: 450px) {
  .main-content.sidebar-open { margin-left: 120px; }
  .main-content.sidebar-closed { margin-left: 36px; }
}
