:root {
  --primary-color: light-dark(  #990000, #990000);
  --secondary-color: light-dark(#5c0606,#5c0606);
  --text-color: light-dark(#100a0a, #f5efef);
  --accent: light-dark(#ffae00, #ffae00);
  --background-color: light-dark( #f4f9fb, #03070a);
  --hover-bg: light-dark(#9900003b, #9900003b);

}


#root {
  color-scheme: dark;
  background-color: var(--background-color);
}

.test{
  background-color: blue;
  overflow: auto;
  /* width: 60%; */
  /* height: 20vh; */
}
