.adjustable-card {
  background-color: var(--background-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.adjustable-card-header {
  background: var(--background-color);
  color: var(--primary-color);
  padding: 1rem 1.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.adjustable-card-content {
  color: var(--text-color);
}
