.dicomButton{
    background-color:HSL(from var(--background-color) h s calc(l*1.5));
    border: 1px solid var(--text-color);
    border-radius: 4px; 
    cursor: pointer;
    padding: 1vh;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: small;
}
.active{
    color: var(--accent);
    border: 1px solid var(--accent);
    /* color: var(--text-color); */
    font-weight: bold;
}