.radio-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: var(--text-color);
}

.radio-wrapper input {
  width: 18px;
  height: 18px;
  accent-color: var(--secondary-color);
}
