.badge{
    box-sizing: border-box;
    width: clamp(20px, 100px, 300px);
    height: clamp(20px, 3vh, 100px);

    font-size: .8rem;
    font-weight: 800;

    padding: .2vh 1vw; ;
    border-radius: 9999px;

    background-color: var(--accent);
    color: var(--background-color);
    aspect-ratio: 1/3;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase
}

.success{
    background-color: var(--text-color);
}
.warning{
    background-color: var(--primary-color);
    color: var(--text-color);
}
.pending{
    background-color: var(--accent);
}