.type {
  font-weight: 600;
  font-size: .9rem;
}

.row, .header {
    justify-items: center;
    text-align: center;
}


.name, .date {
  font-size: .7rem;
  color: var(--text-secondary-color);
}
.actionButton {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  font-size: 0.9em;
  height: 100%;
  width: 50px;
  aspect-ratio: 1;
}
