.name{
    font-weight: 600;
    font-size: 1.1em;
}

.actions{
    display: flex;
    gap: 8px;
   
}
.actionButton{
    /* padding: 6px 12px; */
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    font-size: 0.9em;
    height: 100%;
    width: 50px;
    aspect-ratio: 1;
    
}