.dicomViewPage {
  display: flex;
  flex-direction: column;
  /* Use 100vh to guarantee it fills the browser window */
  height: 100vh; 
  width: 100vw;
  background: var(--background-color);
  overflow: hidden; 
}

.viewportGrid { 
    flex: 1;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    gap: 4px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    
    grid-template-rows: repeat(auto-fit, minmax(1px, 1fr)); 
}
.activeViewport{
    border: 5px solid var(--accent);
}